/* Footer Box */

/*Social Media Contact Icons*/
.site-footer {
  background-color: #838383;
  text-align: center;
  margin: 10px 0;
  padding: 10px 0;
}

.social-wrapper {
  text-align: center;
}

.social-wrapper ul li {
  display: inline;
  margin: 0 5px;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon {
  margin-top: .625em;
  width: 40px;
  height: 40px;
  opacity: .6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
  border-radius: 25px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
}

.footer-nav p {
  text-align: center;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
